<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Affichage des Proces</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
		id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	
	<div th:replace="/index.html :: header"></div>
</head>

<body>

		<div class="panel-body">
			<div class="container">
				<nav class="navbar navbar-dark bg-dark">
					<a class="navbar-brand">Recherche</a>

					<div class="form-group mb-2">
						<form th:action="@{/Proce/Recherche}" method="GET">
							<input type="text" class="form-control" th:name="sujetProce" id="sujetProce"
								placeholder="Search Proce" /> <input type="submit" value="Search"
								class="btn btn-primary" />
						</form>
					</div>

					<div class="navbar-header">
						<div th:switch="${listProce}">
							<h3 th:case="null">Aucun Client !</h3>
							<div th:case="*" class="container">
								<form class="form-inline">

									<h3 align="center">Liste des Proces</h3>
									<table class="table table-bordered table-striped">
										<thead>
											<tr>
												<th>Proce's Subject</th>
												<th>Avocat's First name</th>
												<th>Avocat's Last name</th>
												<th>Proce's Type</th>


											</tr>
										</thead>
										<tbody>
											<tr th:each="Proce : ${listProce}">
												<td th:text="${Proce.sujetProce}"></td>
												<td th:text="${Proce.Avocat.nomAvocat}"></td>
												<td th:text="${Proce.Avocat.PrenomAvocat}"></td>
												<td th:text="${Proce.typeProce.nomTypeProce}"></td>



												<td><a th:href="@{/Proce/edit/{id}(id=${Proce.numProce})}">Edit</a></td>
												<td><a th:href="@{/Proce/delete/{id}(id=${Proce.numProce})}">Delete</a>
												</td>
											</tr>
										</tbody>
									</table>
								</form>
							</div>
							<p>
								<a th:href="@{/Proce/form}">Ajouter un nouvel Proce</a>
							</p>
						</div>
					</div>
				</nav>
			</div>


		</div>



</body>

</html>