<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Affichage des RDV</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
		id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<div th:replace="/index.html :: header"></div>
</head>

<body>

		<div class="panel-body">
			<div class="container">
				<nav class="navbar navbar-dark bg-dark">
					<a class="navbar-brand">Recherche</a>

					<div class="form-group mb-2">
						<form th:action="@{/RDV/Recherche}" method="GET">
							<input type="text" class="form-control" th:name="sujetRDV" id="sujetRDV"
								placeholder="Search RDV" /> <input type="submit" value="Search"
								class="btn btn-primary" />
						</form>
					</div>

					<div class="navbar-header">
						<div th:switch="${listRdv}">
							<h3 th:case="null">Aucun Client !</h3>
							<div th:case="*" class="container">
								<form class="form-inline">

									<h3 align="center">Liste des Clients</h3>
									<table class="table table-bordered table-striped">
										<thead>
											<tr>
												<th>dateRDV</th>
												<th>heureRDV</th>
												<th>SujetRDV</th>
												<th>Avocat's first name</th>
												<th>Avocat's Last name</th>
												<th>Client's first name</th>
												<th>Client's Last name</th>


											</tr>
										</thead>
										<tbody>
											<tr th:each="RDV : ${listRdv}">
												<td th:text="${RDV.dateRDV}"></td>
												<td th:text="${RDV.heureRDV}"></td>
												<td th:text="${RDV.sujetRDV}"></td>
												<td th:text="${RDV.Avocat.nomAvocat}"></td>
												<td th:text="${RDV.Avocat.PrenomAvocat}"></td>
												<td th:text="${RDV.client.nomClient}"></td>
												<td th:text="${RDV.client.PrenomClient}"></td>


												<td><a th:href="@{/RDV/edit/{id}(id=${RDV.numRDV})}">Edit</a></td>
												<td><a th:href="@{/RDV/delete/{id}(id=${RDV.numRDV})}">Delete</a></td>
											</tr>
										</tbody>
									</table>
								</form>
							</div>
							<p>
								<a th:href="@{/RDV/form}">Ajouter un nouvel RDV</a>
							</p>
						</div>
					</div>
				</nav>
			</div>


		</div>
	



</body>

</html>