<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Edit des seances</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
		id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<div th:replace="/index.html :: header"></div>
</head>

<body>


		<div class="center">
		<div class="container">

			<form th:action="@{/Seance/save}" method="POST" class="form-signin" th:object="${Seance}">
				<h3 class="form-signin-heading" th:text="Nouveau"></h3>
				<br /> <input th:field="*{numSeance}" type="hidden" id="numSeance" name="numSeance"
					class="form-control" />

				<select class="form-control" name="Proce" id="Proce">
					<option value="0">select Proce</option>
					<option th:each="Proce : ${listProce}" th:value="${Proce.numProce}" th:text="${Proce.sujetProce}">
					</option>
				</select>

				<br />

				<select class="form-control" name="Tribunal" id="Tribunal">
					<option value="0">select Tribunal</option>
					<option th:each="Tribunal : ${listTribunal}" th:value="${Tribunal.numTribunal}"
						th:text="${Tribunal.typeTribunal + ' du ' + Tribunal.lieuTribunal	}"></option>
				</select>

				<br />
				<p> Select judges's number</p>
				<input th:field="*{Nbrjudge}" type="number" id="Nbrjudge" name="Nbrjudge" th:placeholder="Nbrjudge"
					class="form-control" /> <br />


				<p> Select Date of the seance </p>

				<input th:field="*{dateSeance}" type="date" id="dateSeance" name="dateSeance"
					th:placeholder="dateSeance" class="form-control" /> <br />
				<p> Select Time of the seance </p>

				<input th:field="*{heurSeance}" type="time" id="heurSeance" name="heurSeance"
					th:placeholder="heurSeance" min="09:00" max="18:00" required class="form-control" /> <br />

				<br />
				<div align="center" th:if="${param.error}">
					<p style="font-size: 20; color: #FF1C19;">ERROR</p>
				</div>
				<button class="btn btn-lg btn-primary" name="Submit" value="Login" type="Submit"
					th:text="Ajouter"></button>
			</form>
		</div>
		</div>


</body>

</html>