<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>About</title>

	<link rel="stylesheet" type="text/css" th:href="@{/css/stylecs.css}" />
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
		id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<div th:replace="/index.html :: header"></div>

</head>

<body>
	<div class="container">

		<center>
		<strong >
			Une application de gestion d'un cabinet d'avocats, Il s'agit de la definition de responsalibilte de gestion,
			La
			mise a jour des donnee et l'organisation des donnee collecte par la secretariat afin de construire des
			fichiers
			de bases pour l'avocat
		</strong>
		</center>
	</div>

</body>

</html>