<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Secretaire</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
		id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<div th:replace="/index.html :: header"></div>
</head>

<body>

	<div class="container">
		<span th:utext="${username}"></span> <br>
		<form th:action="@{/RDV/list}" method="get">
			<button class="btn btn-primary btn-lg btn-block" name="Clients" type="Submit">Gestion des rdvs</button>
		</form>
		<br>
		<form th:action="@{/Client/list}" method="get">
			<button class="btn btn-primary btn-lg btn-block" name="Users" type="Submit">Gestion des clients</button>
		</form>
		<br>

		<form th:action="@{/Paiment/list}" method="get">
			<button class="btn btn-primary btn-lg btn-block" name="Paiment" type="Submit">Gestion de
				Paiment</button>
		</form>
		<br>
		<form th:action="@{/Tribunal/list}" method="get">
			<button class="btn btn-primary btn-lg btn-block" name="Tribunal" type="Submit">Gestion de
				Tribunals</button>
		</form>
		<br>

	</div>
	


</body>

</html>