<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Welcome</title>

	<link rel="stylesheet" type="text/css" th:href="@{/css/stylecs.css}" />
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
		id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<div th:replace="/index.html :: header"></div>

</head>

<body>
	<div class="container">
		<span th:utext="${userName}"></span> <br>
		<form th:action="@{/Avocathome}" method="get">
			<button class="btn btn-primary btn-lg btn-block" name="Clients" type="Submit">Interface Avocat</button>
		</form>
		<br>
		<form th:action="@{/Adminhome}" method="get">
			<button class="btn btn-primary btn-lg btn-block" name="Users" type="Submit">Interface Admins</button>
		</form>
		<br>
		<form th:action="@{/Secretairehome}" method="get">
			<button class="btn btn-primary btn-lg btn-block" name="Users" type="Submit">Interface Secretaire</button>
		</form>
		<br>

	</div>

</body>

</html>