<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Admin</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/stylecs.css}" />
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
		id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<div th:replace="/index.html :: header"></div>
</head>

<body>
		<div class="container">
			<span th:utext="${username}"></span> <br>
			<br>
				<form th:action="@{/admin/RegisterAvocat}" method="get">
				<button class="btn btn-primary btn-lg btn-block" name="Users" type="Submit">Creation d'un Utilisateur AVOCAT</button>
			</form>
			<br>
			<form th:action="@{/admin/RegisterSecretaire}" method="get">
				<button class="btn btn-primary btn-lg btn-block" name="Users" type="Submit">Creation d'un Utilisateur Secretaire</button>
			</form>
			<br>
			<form th:action="@{/admin/list}" method="get">
				<button class="btn btn-primary btn-lg btn-block" name="Admins" type="Submit">Gestion des
					avocats</button>
			</form>
		</div>
	


</body>

</html>